<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361028565572-h4656fo39oem2f6gbung47i0lthkm6ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361028565572-h4656fo39oem2f6gbung47i0lthkm6ir</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>361028565572-telg76kvolk6v0nd2k4teln92ralfnfk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCW0KlvZpAlZZeREKi8f6gmSk7fljrjzMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>361028565572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seemur.seemurapp</string>
	<key>PROJECT_ID</key>
	<string>seemur-a9726</string>
	<key>STORAGE_BUCKET</key>
	<string>seemur-a9726.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361028565572:ios:68c848e567bb1784875a11</string>
	<key>DATABASE_URL</key>
	<string>https://seemur-a9726.firebaseio.com</string>
</dict>
</plist>